<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header formhead">
                    <p class="font-weight-bold"> Formulaire d'inscription</p>
                </div>
                <div class="card_body">
                    <div class="container">
                        <br>
                        
                        <div>
                            <form>
                                <div class="form-group">
                                    <input type="text " class="form-control" placeholder="nom">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="prénom">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="identifiant"> 
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="mot de passe" type="password">
                                </div>
                                <button class="btn btn-primary   btn-block"> Valider l'inscription</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>