<br>
<div class="container">

    <div class="row">

        <div class="col-sm-2">

            <button (click)="openDialog()" mat-raised-button color="accent">Ajouter une note</button>

        </div>
        <div class="col-sm-8">

            <table class="table">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th >ID</th>
                        <th>CONTENU</th>
                        <th>DATE</th>
                        <th>PERSON</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let n of note" class="text-center" >
                        <td class="tdMiddle" >{{n.id}}</td>
                        <td class="tdMiddle">{{n.contenu}}</td>
                        <td class="tdMiddle">{{n.date}}</td>
                        <td class="tdMiddle">{{n.person.nom}}</td>
                        <td class="text-center">
                            <button mat-icon-button color="primary"> <mat-icon>edit</mat-icon> </button>
                        </td>
                        <td class="text-center">

                            <button mat-icon-button color="warn"> <mat-icon>delete_outline</mat-icon> </button>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
        <div class="col-sm-2"></div>

    </div>

</div>
