<br>
<div class="container">

    <div class="row">

        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <table class="table">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th >ID</th>
                        <th>CONTENU</th>
                        <th>DATE</th>
                        <th>PERSON</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let n of note" class="text-center">
                        <td>{{n.id}}</td>
                        <td>{{n.contenu}}</td>
                        <td>{{n.date}}</td>
                        <td>{{n.person.nom}}</td>
                    </tr>
                </tbody>

            </table>

        </div>
        <div class="col-sm-2"></div>

    </div>

</div>
